<p>home works!</p>

<div class="container main-container mt-5">

    <div class="row text-center"> 
        <h3>Bem vindo ao sistema de compras do Desafio Angular</h3>
        <div class="card h100">
            <div class="card-body">
                Iniciar compras
            </div>
            <div class="card-footer">
                <a class="btn btn-success">
                    <span class="fa fa-shopping-cart"></span> Ver produtos
                </a>
            </div>
        </div>
    </div>

</div>
