<div class="div-body">

  <div class="Cart-Container mt-4">
    <form [formGroup]="cadastroForm" class="ms-3" *ngIf="!cadastrado">
      <h3 class="mt-3">Novo Produto</h3>
      <div class="form-row">
        <div class="form-group col-md-6 mt-2">
          <label for="">Nome do Produto</label>
          <input formControlName="descricao" type="text" class="form-control" placeholder="Produto">
        </div>
        <div class="form-group col-md-3 mt-2">
          <label for="">Unidade</label>
          <input formControlName="unidade" type="text" class="form-control" placeholder="un / kg/ ..." mask="SS">
        </div>
      </div>
      <div class="form-group mt-2 col-md-8">
        <label for="">Link da foto</label>
        <input formControlName="foto" type="text" class="form-control" placeholder="Link da imagem">
      </div>
      <div class="form-group col-md-3 mt-2">
        <label for="">Preço Unitario</label>
        <input formControlName="precoUnitario" type="number" min="0.00" step="0.05" value="1.00" class="form-control"
          placeholder="Preço">

      </div>
      <div class="form-row">
        <div class="form-group col-md-3 mt-2">
          <label for="">Quantidade em Estoque</label>
          <input formControlName="qtdEstoque" type="text" class="form-control" mask="000000">
        </div>
      </div>

      <button type="submit" class="btn btn-primary mt-3 mb-3" (click)="cadastrarProduto()">Cadastrar</button>
    </form>
    <div *ngIf="cadastrado" class="d-flex justify-content-center">
      <div  style="color: green;">
        <h2 class="d-flex justify-content-center">Cadastrado
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check"
            viewBox="0 0 16 16">
            <path
              d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
          </svg>
        </h2> <br>
        <div class="d-flex justify-content-center mt-3">

          <button (click)="novoCadastro()" type="button" class="btn btn-primary"
            style="background-color: rgb(#1A73E8) !important;">Cadastrar novo produto</button>
          <button (click)="paginaDeProdutos()" type="button" class="btn btn-secondary ms-5"
            style="background-color: white ; color: black !important;">Ir para pagina de produtos</button>
        </div>
      </div>
    </div>
  </div>
</div>