.logado-color{
    color:white !important;
}

.logado-color-sair{
    color: rgb("#90caf9");
    cursor: pointer;
    font-weight: bold;
}

.logado-color-editar{
    color: #FFD369;
    cursor: pointer;
    font-weight: bold;
}

.carrinho-color{
    color: #FFD369 !important;
}

.nav-personalizado{
    color: #EEEEEE !important;
}