<div class="container main-container mt-5">

    <div class="">
        <form [formGroup]="loginRecuperaForm" *ngIf="trocaDeSenhaSolicitada == false">
            <div>
                <div class="form-group row text-center">
                    <h3>Reguperação de senha</h3>
                </div>
                <div class="form-group">
                    <div class="d-flex justify-content-center">
                        <div style="width: 150px;" class="d-flex justify-content-center">
                            <label for="login" class="pt-2">E-mail </label>
                        </div>
                        <input type="text" class="form-control form-login-style ms-2" formControlName="email" name="login" id="login" placeholder="Digite seu e-mail">
                    </div>
                </div>
                <div class="" *ngIf="!trocaDeSenhaSolicitada">
                    <div class="d-flex justify-content-center mt-3">
                        <button type="button" class="btn btn-primary" style="background-color: rgb(#1A73E8) !important;" (click)="solicitarRecuperacaoSenha()">Solicitar recuperação de senha</button>
                        <button type="button" class="btn btn-secondary ms-5" [routerLink]="['/login']" style="background-color: white ; color: black !important;">Cancelar</button>
                    </div>
                </div>
            </div>
        </form>
        <form [formGroup]="loginNovaSenha" *ngIf="trocaDeSenhaSolicitada == true">
            <div>
                <div class="form-group row text-center">
                    <h3>Reguperação de senha222</h3>
                </div>
                <div class="form-group">
                    <div class="d-flex justify-content-center">
                        <div style="width: 150px;" class="d-flex justify-content-center">
                            <label for="login" class="pt-2">Nova Senha:</label>
                        </div>
                        <input type="password" class="form-control form-login-style ms-2" (keyup)="verificaForcaSenha();" formControlName="novaSenha" name="login" id="password" placeholder="Digite a nova senha">

                        
                    </div>
                    <div class="form-group row text-center">
                        <span style='color:red' *ngIf="erroSenhaFraca">Fraco, insira no mínimo 6 caracteres</span>
                        <span style='color:green' *ngIf="alertSenhaForte"><b>Forte</b></span>
                        <span style='color:orange' *ngIf="erroCaracterEspecial">Médio, insira um caracter especial</span>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div style="width: 150px;" class="d-flex justify-content-center">
                            <label for="login" class="pt-2">Repita Nova Senha:</label>
                        </div>
                        <input type="password" class="form-control form-login-style ms-2" (blur)="verificaIgualdadeSenha();" formControlName="novaSenhaRepetida" name="login" id="password" placeholder="Repita a nova senha">
                    </div>
                    <div class="form-group row text-center">
                        <span style='color:red' *ngIf="erroRepitaSenha">Senhas não correspondem</span>
                    </div>
                    
                </div>
                <div class="" >
                    <div class="d-flex justify-content-center mt-3">
                        <button type="button" class="btn btn-primary" style="background-color: rgb(#1A73E8) !important;" (click)="trocarSenha()">Trocar Senha</button>
                        <button type="button" class="btn btn-secondary ms-5" [routerLink]="['/login']" style="background-color: white ; color: black !important;">Cancelar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>