<div class="div-body">

    <div class="Cart-Container" *ngIf="!pedidoRealizado && compras.length != 0">
        <div class="CustomHeader">
            <h3 ngClass="CustomHeading">Carrinho de compras <span *ngIf="compras.length == 0">vazio</span></h3>
            <h5 class="CustomAction" (click)="limparCarrinho()">Remove tudo</h5>
        </div>
        <div *ngFor="let compra of compras">
            <div class="CustomCart-Items">
                <div class="Custom-image-box">
                    <img src="{{compra.produto.foto}}" style="height: 120px;" />
                </div>
                <div class="Custom-about">
                    <span class="Custom-title">{{compra.produto.descricao}}</span>
                    <div class="Custom-subtitle">R$ {{compra.produto.precoUnitario}} / {{compra.produto.unidade}}</div>
                    <!-- <img src="" alt="oi" style="height: 30px;" /> -->
                </div>

                <div class="Custom-counter">
                    <div class="Custom-btn" (click)="diminuirQuantidadeProduto(compra)">-</div>
                    <div class="Custom-counter">{{compra.quantidade}}</div>
                    <div class="Custom-btn" (click)="aumentarQuantidadeProduto(compra)">+</div>
                </div>

                <div class="Custom-prices">
                    <div class="Custom-amount">{{(compra.quantidade * compra.produto.precoUnitario)
                        |currency:'BRL':'symbol':'1.2-2':'pt'}}</div>
                    <!-- <div class="Custom-save"><u>Save for later</u></div> -->
                    <div class="Custom-remove" (click)="excluirDoCarrinho(compra.produto.id)"><u>Excluir do Carrinho</u>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row d-flex justify-content-end">
            <label for="cep" class="pt-2 pe-2">Insira o CEP: </label>
            <input [(ngModel)]="cep" id="cep" type="text" class="form-control" id="inputAddress"
                placeholder="CEP (apenas numeros)" style="width: 300px;">
            <input (click)="verificaCEP()" type="button" class="btn btn-primary me-3 ms-3"
                style="background-color: #9BC1F1; color: black; border-color: white; border-radius: 20px;"
                value="Verificar CEP">

        </div>
        <div class="d-flex justify-content-end mt-2" style="margin-right: 100px;">
            <div class="alert alert-danger" style="width: 350px;" *ngIf="erroCEP">
                <strong>Erro!</strong> Favor preencher o CEP corretamente.
            </div>
        </div>


        <div class="d-flex justify-content-end mt-2 me-5" *ngIf="objetoCEP != '' && erroCEP == false">

            <div class="Custom-card ">
                <div class="spinner-border" *ngIf="!objetoCEP.street" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <address *ngIf="objetoCEP.street">
                    {{objetoCEP.street}}, {{objetoCEP.cep}}<br />
                    {{objetoCEP.neighborhood}},<br />
                    {{objetoCEP.city}}, {{objetoCEP.state}}<br />
                    Brasil
                </address>
            </div>
        </div>


        <hr>
        <div class="Custom-checkout">
            <div class="Custom-total">
                <div>
                    <div class="Custom-Subtotal">Sub-Total</div>
                    <div class="Custom-items">{{quantidadeItens}} items</div>
                </div>
                <div class="Custom-total-amount">{{subTotal |currency:'BRL':'symbol':'1.2-2':'pt'}}</div>
            </div>
            <button class="Custom-button" (click)="escolherMetodoPagamento()">Checkout</button>
            <!--             <div class="spinner-border" *ngIf="loadingPedido" role="status">
                <span class="sr-only">Loading...</span>
            </div> -->
        </div>
    </div>

    <div class="Cart-Container d-flex justify-content-center" *ngIf="pedidoRealizado && compras.length != 0">
        <div class="Cart-Container" *ngIf="compras.length == 0 && !pedidoRealizado">
            <div class="d-flex justify-content-center"> Carrinho de compras vazio</div>
            <button class="Custom-button" *ngIf="!loadingPedido" (click)="paginaDeProdutos()">Ver Produtos</button>
        </div>

        <div class="Cart-Container" *ngIf="escolherMetodo ">
            <div class="d-flex justify-content-center"> Selecione o método de pagamento</div>

            <div class="CustomCart-Items2">
                <a class="Custom-card2" (click)="selecionaCartao()">
                    <span class="Custom-title d-flex justify-content-center">Cartão de crédito</span>
                    <div class="d-flex justify-content-center">
                        <img class="mt-4 "
                            src="https://tecnograna.com.br/wp-content/uploads/2019/05/Cartaocredito-e1560689567196.png"
                            height="165px" width="253px">
                    </div>
                </a>

                <a class="Custom-card2 ms-5" (click)="selecionaBoleto()">
                    <span class="Custom-title d-flex justify-content-center">Boleto bancário</span>
                    <div class="d-flex justify-content-center">
                        <img class="mt-4 "
                            src="https://placadetran.com.br/wp-content/uploads/2021/02/Imagem-Boleto-Bancario-PNG.png"
                            height="165px" width="253px">
                    </div>
                </a>
            </div>

        </div>

        <div class="Cart-Container" *ngIf="boleto ">

            <div class="CustomCart-Items2">
                <div class="Custom-card2 ms-5">
                    <span class="Custom-title d-flex justify-content-center">Boleto bancário</span>
                    <div class="d-flex justify-content-center">
                        <img class="mt-4 "
                            src="https://placadetran.com.br/wp-content/uploads/2021/02/Imagem-Boleto-Bancario-PNG.png"
                            height="165px" width="253px">
                    </div>
                </div>

            </div>
            <div class="d-flex justify-content-center">
                <button class="button-finalizar" (click)="checkout()">Finalizar</button>
                <button class="button-voltar" (click)="voltarBoleto()">Voltar</button>
            </div>

        </div>

        <div class="Cart-Container" *ngIf="cartao ">

            <div class="CustomCart-Items2">
                <div class="Custom-card2 ms-5">
                    <span class="Custom-title d-flex justify-content-center">Cartão de crédito</span>
                    <div class="d-flex justify-content-center">
                        <img class="mt-4 "
                            src="https://tecnograna.com.br/wp-content/uploads/2019/05/Cartaocredito-e1560689567196.png"
                            height="165px" width="253px">
                    </div>
                </div>            
            </div>
            <form [formGroup]="cartaoUsuario" class="ms-3">
                <h3 class="mt-3">Cartão de crédito</h3>
                <div class="form-row">
                    <div class="form-group col-md-6 mt-2">
                        <label for="">Nome Completo</label>
                        <input formControlName="nome" type="text" class="form-control" placeholder="Nome no Cartao">
                    </div>
                    <div class="form-group col-md-6 mt-2">
                        <label for="">CPF</label>
                        <input formControlName="cpf" type="text" class="form-control" placeholder="CPF">
                    </div>
                    <div class="form-group col-md-6 mt-2">
                        <label for="">Numero do cartão</label>
                        <input formControlName="numCartao" type="text" class="form-control" placeholder="Número do cartão">
                    </div>
                    <div class="form-group col-md-6 mt-2">
                        <label for="">Validade</label>
                        <input formControlName="validade" type="text" class="form-control" placeholder="Validade">
                    </div>
                    <div class="form-group col-md-6 mt-2">
                        <label for="">Código de segurança</label>
                        <input formControlName="codSeguranca" type="text" class="form-control" placeholder="Codigo de Segurança">
                    </div>
                </div>
            </form>
            <div class="d-flex justify-content-center">
                <button class="button-finalizar" (click)="checkout()">Finalizar</button>
                <button class="button-voltar" (click)="voltarCartao()">Voltar</button>
            </div>

        </div>
    </div>
    <div class="Cart-Container" *ngIf="pedidoRealizadoBoleto">
        <div class="d-flex justify-content-center"> Pedido realizado, o boleto para pagamento foi enviado em seu
            e-mail</div>
        <button class="Custom-button" *ngIf="!loadingPedido" (click)="paginaDeProdutos()">Ver Produtos</button>
    </div>
    <div class="Cart-Container" *ngIf="pedidoRealizadoCartao">
        <div class="d-flex justify-content-center"> Pedido realizado</div>
        <button class="Custom-button" *ngIf="!loadingPedido" (click)="paginaDeProdutos()">Ver Produtos</button>
    </div>

</div>